:root {
  --headline-font-family: "Rufina", serif;
  --general-font-family: "Average Sans", sans-serif;
  --main-color-dark: #003844;
  --main-color-light: #ffb100;
  --main-color-background: #eaf2e3;
}
.navbar {
  font-family: var(--general-font-family);
  font-size: 20px;
  background: #ffffff !important;
}
.navbar-brand {
  font-family: var(--headline-font-family);
  font-size: 33px;
  transition: all 115ms ease-in-out;
}

.navbar-brand:hover {
  color: var(--main-color-light);
}
.active {
  color: var(--main-color-dark) !important;
}

.nav-item {
  padding: 0px 15px;
}

.hero {
  text-align: center;
  padding: 150px 30px;
  font-family: var(--general-font-family);
  line-height: 1.5;
  background-color: var(--main-color-background);
  border-radius: 4px;
  margin-bottom: 100px;
}

.container-content {
  padding: 80px 30px;
}

.container-content p {
  line-height: 1.5;
}

.container-content a {
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headline-font-family);
}

h1 {
  font-weight: 700;
  font-size: 66px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: 600;
  font-size: 40px;
}

.hero p {
  font-size: 25px;
}

.container-content h3 {
  font-size: 26px;
}

.portfolio-page h1 {
  font-size: 50px;
}
.portfolio-grid {
  text-align: center;
}
.btn-main-color {
  background-color: var(--main-color-dark);
  color: #ffffff;
  border-radius: 4px;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-main-color:hover {
  color: black;
  background-color: var(--main-color-light);
}

.btn-outline {
  background-color: white;
  border: 1px solid var(--main-color-dark);
  border-radius: 4px;
  font-size: 15px;
  line-height: 27px;
  padding: 15px 30px;
}

.my-5 {
  margin-top: 80px !important;
}
.btn-outline:hover {
  background-color: var(--main-color-dark);
  color: white;
}

.project-description p {
  line-height: 1.8;
}

footer {
  text-align: center;
  margin: 30px 0;
  background: var(--main-color-background);
  padding: 50px;
  line-height: 3;
  border-radius: 4px;
}

footer a {
  color: var(--main-color-dark);
  font-size: 30px;
  background-color: #ffffff;
  padding: 10px 14px;
  border-radius: 50%;
  margin: 0 10px;
  transition: all 115ms ease-in-out;
}

footer a:hover {
  color: var(--main-color-light);
}

.contact-page footer a {
  font-size: 50px;
  padding: 20px 28px;
}

@media (max-width: 768px) {
  .project-description {
    text-align: center;
  }

  .about-me-page h1 {
    font-size: 50px;
  }

  .about-me-page img {
    margin-top: 50px;
  }

  .about-me-page {
    text-align: center;
  }

  .portfolio-page {
    text-align: center;
  }

  .portfolio-page h1 {
    font-size: 40px;
  }

  .contact-page h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .contact-page footer a {
    font-size: 30px;
    padding: 15px 22px;
  }
}
