:root {
  --headline-font-family: "Rufina", serif;
  --general-font-family: "Average Sans", sans-serif;
  --main-color-dark: #003844;
  --main-color-light: #ffb100;
  --main-color-background: #eaf2e3;
}

.hero {
  text-align: center;
  padding: 160px 30px;
  font-family: var(--general-font-family);
  line-height: 1.5;
  background-color: var(--main-color-background);
}

h1,
h2,
h3 {
  font-family: var(--headline-font-family);
}

h1 {
  font-weight: 700;
  font-size: 66px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: 600;
  font-size: 34px;
}

.hero p {
  font-size: 25px;
}

.btn-main-color {
  background-color: var(--main-color-dark);
  color: #ffffff;
  border-radius: 4px;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-main-color:hover {
  color: black;
  background-color: var(--main-color-light);
}

.btn-outline {
  background-color: white;
  border: 1px solid var(--main-color-dark);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-outline:hover {
  background-color: var(--main-color-dark);
  color: white;
}

.project-description p {
  line-height: 1.8;
}

@media (max-width: 768px) {
  .project-description {
    text-align: center;
  }
}
